* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
p {
  color: #636363;
}
.container {
  width: 79%;
  margin: auto;
}
.service__title p:first-of-type {
  color: #f55f8d;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 10px;
}
.service__title h2 {
  font-weight: 700;
  font-size: 70px;
  margin: 20px 0;
  line-height: 1.1;
}
.service__title h2 + p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
}
.service__title ul li {
  color: #636363;
  list-style-type: none;
  padding: 15px 10px;
  font-size: 20px;
}
.p-top {
  padding-top: 115px;
}
button {
  width: 180px;
  height: 60px;
  border-radius: 40px;
  font-size: 1rem;
  border: none;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-position: right center;
}
/* start header */
header {
  width: 100%;
  padding: 30px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .logo {
  width: 20%;
}
header nav {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav li {
  list-style-type: none;
  padding: 20px 0;
  transition: 0.5s;
}
header nav li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
header nav li:hover a {
  color: #f55f8d;
}
header nav li:hover a span {
  display: inline-block;
  animation-name: rollover;
  animation-duration: 0.4s;
}
header nav a i {
  font-size: 8px;
  vertical-align: 30%;
}

.background-behind {
  background-image: url(../Samar/pic2.png);
  background-size: contain;
}
/* end header  */
/* start service 01  */
.service-01 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 60px;
}
.service-01 .service__title {
  width: 65%;
}
.service-01 ul {
  margin-bottom: 20px;
}
.service-01__image {
  width: 35%;
}
/* start of service 02  */
.service-02 {
  text-align: center;
  background-image: url(../Samar/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.card__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.card__item {
  background-color: white;
  padding: 30px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
}
.card__item img {
  width: 215px;
}
.card__item h4 {
  font-size: 23px;
  margin: 20px 0;
}
.card__item p {
  line-height: 1.6;
}
.card__item:hover {
  transform: translateY(-20px);
}
/* end service-02  */
/* start about us  */
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../Samar/bg15.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 85px;
  overflow: hidden;
}
.about-us__image {
  width: 50%;
}
.about-us__image img {
  width: 90%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.about-us .service__title {
  width: 50%;
  padding-right: 170px;
}
.about-us .service__title p:last-of-type {
  font-size: 16px;
}
.about-us .service__title ul {
  margin-bottom: 30px;
}
.about-us .service__title ul li {
  font-size: 16px;
  padding: 5px 0;
}
.about-us ul li i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/* end about us  */
.numbers {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../Samar/bg14.png);
}
.numbers__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}
.numbers__content i {
  font-size: 3rem;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 80px;
  height: 80px;
  display: inline-block;
  color: white;
  border-radius: 50%;
  line-height: 80px;
}
.numbers__content p:first-of-type {
  font-size: 65px;
  font-weight: 700;
  color: #f55f8d;
  margin-top: 10px;
}
.numbers__content p:last-of-type {
  color: black;
  font-size: 18px;
}
/* end numbers  */
/* start features  */
.our-features {
  background-image: url(../Samar/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.our-features .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.our-features__left {
  width: 50%;
}
.our-features__right {
  width: 50%;
}
.our-features__right img {
  max-width: 100%;
  animation-name: tilting;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: ease;
}
.group__item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 30px;
  width: 90%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.group__item::after {
  content: "";
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  height: 0%;
  width: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}
.group__item:hover::after {
  opacity: 1;
}
.group__item:nth-child(2) {
  margin-left: 50px;
}
.group__item div {
  z-index: 1;
}
.group__item i {
  font-size: 75px;
  color: #f55f8d;
  margin-right: 30px;
  z-index: 1;
  transition: 1s;
}
.group__item h5 {
  font-size: 24px;
  transition: 1s;
  z-index: 1;
}
.group__item p {
  transition: 1s;
  line-height: 1.6;
  z-index: 1;
}
.group__item:hover div,
.group__item:hover h5,
.group__item:hover i,
.group__item:hover p {
  color: white;
  z-index: 1;
  cursor: default;
}
/* end features  */
/* start portfolio */
.portfolio .service__title {
  text-align: center;
}
.cards__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 30px;
}
.cards__content .item-1 {
  grid-column: 1 / 3;
}
.cards__content .item-5 {
  grid-column: 1 / 3;
}
.cards__content .item-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.cards__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.cards__item img {
  width: 100%;
  height: 100%;
  display: block;
}
.cards__item .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.cards__item .overlay:hover {
  opacity: 1;
}
.cards__item .overlay:hover .overlay__icon {
  top: 20px;
  right: 20px;
}
.cards__item .overlay:hover .overlay__text {
  bottom: 35px;
}
.cards__item .overlay__icon {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.8s;
}
.cards__item .overlay__text {
  position: absolute;
  bottom: 0px;
  left: 30px;
  transition: 0.8s;
}
.cards__item .overlay__text p:first-of-type {
  font-size: 23px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.cards__item .overlay__text p:last-of-type {
  color: aliceblue;
}
.cards__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.cards__item:hover::before {
  left: 125%;
}
/* end portfolio  */
/* start plans  */
.plans {
  text-align: center;
  background-image: url(../Samar/bg16.png);
  background-position: center;
  background-size: cover;
}
.price__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-top: 40px;
}
.price__content__item {
  background: white;
  padding: 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.price__content__item:hover {
  border-image: url(../Samar/br.png) 1 round;
}
.item__title {
  text-align: center;
  border-bottom: 1px solid rgba(79, 79, 79, 0.2);
  padding-bottom: 10px;
}
.item__title img {
  width: 125px;
}
.item__title h5 {
  font-size: 2rem;
}
.item__title span {
  font-size: 3rem;
  font-weight: 700;
  color: #f8ae56;
}
.item__title p {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.item__list ul {
  text-align: left;
  list-style-type: none;
  margin: 20px 0;
}
.item__list ul li {
  font-size: 18px;
  margin: 15px 0;
}
.item__list i {
  font-size: 13px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
  text-align: center;
}
/*end plans*/
/* start testimonial  */
.testimonial {
  text-align: center;
  background-image: url(../Samar/bg17.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
  min-height: 300px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
  position: relative;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text h3 {
  font-size: 22px;
}
.testimonial-text span {
  font-style: italic;
  color: #f55f8d;
  font-size: 20px;
  margin: 10px 0 35px 0;
  display: inline-block;
}
.testimonial-text p {
  font-style: italic;
  font-size: 18px;
  color: #636363;
  margin-bottom: 20px;
}
.testimonial-text i {
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 4rem;
  color: #f55f8d;
  transform: scaleX(-1) scaleY(-1);
}
.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
.shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f55f8d;
  background-repeat: no-repeat;
  opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../Samar/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.swiper-slide-thumb-active .testimonial-pic::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f55f8d;
  position: absolute;
  bottom: 0px;
  transform: translateY(-30px);
  left: 40px;
}
.swiper-slide-thumb-active .testimonial-pic::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f55f8d;
  position: absolute;
  bottom: 0px;
  left: 42px;
}
/* end testimonial  */
/* start blog  */
.blog {
  background-image: url(../Samar/bg16.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog .service__title {
  text-align: center;
}
.blog__item {
  background-color: #feeff3;
}
.blog__item .published-date {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 140px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 15px;
  transform: translateY(20px);
}

.blog__item .published-date span {
  color: white;
  font-size: 14px;
}
.blog__item img {
  border-radius: 10px;
  display: block;
}
.blog__item .item__header {
  position: relative;
}
.blog__item .item__description {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.item__description h3 {
  font-size: 24px;
}
.item__description p {
  margin: 10px 0;
}
.item__author {
  display: flex;
  padding: 25px 15px;
  border-top: 1px solid rgba(99, 99, 99, 0.1);
  font-size: 14px;
}
.item__author p > span {
  color: #f55f8d;
}
.item__author p:nth-child(2) {
  margin-left: 25px;
}
/* end blogs  */
/* start footer  */
footer {
  padding-top: 45px;
  background-image: url(../Samar/bg4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0e1b1f;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../Samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.subscribe__newsletter {
  display: flex;
  align-items: center;
  padding: 50px 70px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 5px;
  background-image: url(../Samar/pattern3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
  position: relative;
}
.subscribe__newsletter h2 {
  font-size: 28px;
}
.newsletter__text {
  width: 50%;
}
.newsletter__form {
  width: 50%;
}
footer form {
  display: flex;
}
footer form input {
  padding: 20px;
  outline: none;
  border: 1px solid white;
  border-radius: 8px 0 0 8px;
  width: 100%;
  transition: 0.5s;
  font-size: 15px;
}
footer form input:hover {
  border-color: #f55f8d;
}
footer form input:focus {
  border-color: #f55f8d;
}
footer form button {
  border-radius: 0 10px 10px 0;
  width: 100px;
}
.footer__main {
  padding: 70px 0;
  display: flex;
  position: relative;
}
.footer__item img {
  filter: brightness(0) invert(1);
}
.footer__item {
  width: 25%;
}
.footer__item nav {
  list-style-type: none;
}
.footer__main .item-01 nav li {
  display: flex;
  margin: 20px 0;
}
.footer__main .item-01 p {
  color: white;
}
.footer__main .item-01 i {
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
.footer__main .item-02 h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  position: relative;
}
.footer__main .item-02 h3::before {
  content: "";
  height: 4px;
  width: 16px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  bottom: -50%;
  left: 0;
  border-radius: 10px;
  position: absolute;
}
.footer__main .item-02 h3::after {
  content: "";
  height: 4px;
  width: 48px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  bottom: -50%;
  left: 22px;
  border-radius: 10px;
  position: absolute;
}
.footer__main .item-02 nav li {
  display: flex;
  padding: 12px;
}
.footer__main .item-02 nav li a {
  text-decoration: none;
  color: #636363;
  transition: 0.5s;
}
.footer__main .item-02 nav li a:hover {
  color: white;
}
.footer__main .item-02 nav li a i {
  margin-right: 15px;
  font-size: 16px;
  vertical-align: middle;
}
.footer__credit {
  background-color: #1f343b;
  position: relative;
}
.footer__credit .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__credit .credit__left p {
  color: white;
  font-size: 15px;
}
.footer__credit .credit__left span {
  color: #f55f8d;
}
.footer__credit .credit__right {
  margin: 10px;
}
.footer__credit .credit__right i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  transition: 0.5s;
}
.footer__credit .credit__right i:hover {
  background-color: #f55f8d;
}
/* Media */
@keyframes tilting {
  0% {
    transform: rotate(-0.007turn);
  }
  50% {
    transform: rotate(0.007turn);
  }
  100% {
    transform: rotate(-0.007turn);
  }
}
@keyframes rollover {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
